<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
      <title>抢鲜</title>
      <meta name="description" content="">

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
      <style>
            .img-container {
                margin: 20px auto 60px auto;
                -webkit-box-shadow: 0px 2px 7px #999;
                padding: 15px;
            }
      </style>
      <script src="js/libs/require.js" data-main="js/mobile"></script>
</head>
<body>

<div id="categories" data-role="page" data-title="Categories"></div>

<!-- Underscore Template that is used to display all of the Category Models -->
<script id="categoryLists" type="text/template">

      <div data-role="header" class="ui-header ui-bar-a" role="banner">
          <h1 class="ui-title" role="heading" aria-level="1"><%= platform %>应用汇</h1>
      </div><!-- /header -->

      <div data-role="content" class="ui-content" role="main">
            <h3>抢鲜体验以下应用：</h3>
            <ul data-role="listview" data-inset="true">

            <% _.each( collection.toJSON(), function( category, id ) { %>

                <li><a href="#category?<%= category.appName %>" class="vehicles"><%= category.appName  %></a></li>

            <% }); %>

            </ul>
      </div><!-- /content -->

</script>
<script id="categoryDetail" type="text/template">

    <div id="<%= appName %>" data-role="page" data-title="<%= appName  %>">

          <div data-role="header">
              <h1>详细信息</h1>
          </div><!-- /header -->

          <div data-role="content">
                <div style="height:128px; width:128px;" class="img-container">
                    <img src="<%= icon %>" />
                </div>
                <div data-role="collapsible" data-content-theme="c">
                    <h3><%= appName %></h3>
                    <ul data-role="listview" data-inset="true">
                        <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">文件名：<%= fileName %></li>
                        <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">创建时间：<%= createTime %></li>
                    </ul>
                </div>
                <a href="<%= url %>" data-role="button">下载该应用</a>
          </div><!-- /content -->
    </div>

</script>
</body>
</html>