abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

article,aside,dialog,figure,footer,header,hgroup,nav,section {
    display: block;
    zoom: 1;
}

nav ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700;
}

abbr[title],dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,select {
    vertical-align: middle;
}

body {
    font: 13px arial,helvetica,clean,sans-serif;
    font-size: small;
    font: x-small;
}

table {
    font: 100%;
}

input,select,textarea {
    font: 99% arial,helvetica,clean,sans-serif;
}

code,pre {
    font: 115% monospace;
    font-size: 100%;
}

body * {
    line-height: 1.22em;
}

html {
    overflow-y: scroll;
}

button {
    width: auto;
    overflow: visible;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

body {
    font-size: 62.5%;
    line-height: 1.3571;
    background-color: #fff;
    -webkit-text-stroke: 1px transparent;
    color: #444444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 0 20px;
    text-rendering: optimizeLegibility;
}

p {
    margin: 0 0 1.5em;
}

p+p {
    margin-top: -.75em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    margin: 3px 0;
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
}

blockquote,q {
    quotes: ;
}

blockquote {
    color: #999;
    font-style: normal;
    margin: 1em 1em 1em 0;
    padding-left: 1em;
    border-left: 3px solid #eaeaea;
    -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    transition: color 1s ease-in;
}

blockquote:hover {
    color: #333;
}

cite {
    font-weight: 400;
    font-style: normal;
    display: block;
    float: right;
    color: #666;
}

b,dfn,strong {
    font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-weight: 700;
}

dfn,em {
    font-style: italic;
}

sub,sup {
    line-height: 0;
}

sup {
    vertical-align: super;
    font-size: 70%;
}

abbr {
    border: 0;
    border-bottom: 1px dotted #555;
}

address {
    font-style: italic;
    margin: 0 0 15px;
}

del {
    color: #fff;
    text-decoration: line-through;
}

code,pre {
    margin: 15px 0;
    white-space: pre;
}

code,pre,tt {
    font-family: 'andale mono','lucida console',monospace;
}

label {
    font-size: 1em;
}

fieldset {
    border: 0;
}

input,textarea {
    font-family: inherit;
    font-size: 1em;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: #6bacbf;
}

a:hover {
    color: #111;
    background-color: #fff;
}

.content a {
    color: #555;
    background-color: #fff;
    padding: 0 2px;
    -webkit-transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    -o-transition: color .25s ease-in;
    transition: color .25s ease-in;
    border-bottom: 1px dashed #6bacbf;
}

.content a:empty {
    padding: 0;
}

.content a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6bacbf;
    border-bottom: 0;
}

.noline,a img,a.icon,a.img:hover,a.img:link,a.img:visited,a.noline:hover,a.noline:link,a.noline:visited,a.thumb {
    border-width: 0;
    background: 0 0;
}

a.more-link {
    white-space: nowrap;
}

h1 {
    font-size: 4em;
    line-height: 1;
    font-weight: 400;
    background-color: #111;
    color: #fff;
    margin: 0;
    font-style: italic;
    padding: .25em;
    float: left;
    -webkit-transition: background-color .5s ease-in;
    -moz-transition: background-color .5s ease-in;
    -o-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
}

h1:hover {
    background-color: #2d5795;
}

h2 {
    font-size: 1.5em;
    margin: .5em 0;
    font-style: italic;
}

.vevent h3 {
    font-size: 1.5em;
    margin: 0 0 .5em;
}

.vevent:hover h3 {
    color: #6bacbf;
    background: ##6bacbf;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}

h3 abbr {
    border: 0;
}

.adr {
    text-align: right;
}

#nav-wrapper {
    background-color: #111;
    color: #eee;
    padding: 10px 0;
    font-size: 1.2em;
    min-width: 800px;
    width: 100%;
}

#nav-wrapper #nav-wrapper-inner {
    width: 800px;
    margin: 0 auto;
    padding: 0 80px;
}

#nav-wrapper #nav-wrapper-inner a {
    background-color: #555;
    color: #fff;
    padding: 3px 7px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0 #333;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

#nav-wrapper #nav-wrapper-inner a:hover {
    background-color: #444;
    color: #fff;
}

ul#options {
    list-style: none;
    margin: 0;
    width: 800px;
}

ul#options li {
    float: right;
    margin: 0 0 0 1em;
}

ul#options li#back {
    float: left;
    margin: 0 1em 0 0;
}

ul#options li#pdf-resume a {
    background-color: #6b8e23;
}

ul#options li#pdf-resume a:hover {
    background-color: #556b2f;
}

ul#options li#linkedin a {
    background-color: #1e90ff;
}

ul#options li#linkedin a:hover {
    background-color: #4169e1;
}

#content {
    position: relative;
    margin: 0 auto 30px;
    width: 980px;
    font-size: 1.4em;
}

.language {
    text-align: right;
    padding-right: 80px;
    line-height: 2;
}

#content h3 {
    margin: 0;
    font-family: StandardCTCondensed-Medium;
    font-size: 2em;
    letter-spacing: -1px;
    color: #000;
}

#content h3>em {
    position: absolute;
    right: 0;
    color: #bbb;
    font-style:normal;
}

.period {
    position: absolute;
    right: 0;
    display: inline;
    color: #bbb;
}

#content span.org {
    color: #000;
}

#content div.summary {
    margin: 1em 0 0;
}

#content .objective-wrapper div.summary {
    margin: 0;
}

#content span.location {
    position: absolute;
    right: 0;
    top: .5em;
}

#wrapper {
    padding: 40px 80px;
}

div.title-wrapper {
    float: left;
    width: 500px;
}

.title-wrapper .fn {
    background: #6bacbf;
    color: white;
    letter-spacing: -1px;
    font-family: StandardCTCondensed-Medium;
    line-height: 0.85;
}

div.adr {
    text-align: right;
}

div.summary-wrapper {
    font-style: italic;
    border-top: 1px dotted #888;
    border-bottom: 1px dotted #888;
    padding: 1em;
    margin: 2em 0;
}

div.objective-wrapper {
    margin: 2em 0;
    padding: 1em 0;
    zoom: 1;
    border-left: 2px solid #6bacbf;
    padding-left: 2em;
    border-top: none;
    background: #eee;
}

.objective-wrapper a {
    color: #555;
    background-color: #eee;
    padding: 0 2px;
    -webkit-transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    -o-transition: color .25s ease-in;
    transition: color .25s ease-in;
    border-bottom: 1px dashed #6bacbf;
}

div.summary-wrapper p {
    margin: 0;
}

div.header {
    float: left;
    width: 210px;
    position: relative;
}

div.header h2 {
    margin-top: 0;
}

div.content {
    float: right;
    width: 600px;
}

div.education-wrapper,div.skills-wrapper,footer {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #ccc;
}

.skills-wrapper .content,
.code-wrapper .content {
    padding-top: 2em;
}

ul.skills {
    list-style: none;
    float: left;
    width: 30%;
    margin: 0 2% 0 0;
    border-left: 1px solid #ccc;
    padding-left: 0.5em;
}

.clear {
    clear: both;
    visibility: hidden;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

ol.vcalendar {
    list-style: none;
    margin-left: 0;
}

.experience-wrapper,ol.vcalendar li {
    position: relative;
    list-style: none;
}

.vevent dt {

}

.endorsements {
    position: absolute;
    left: 0;
    top: 0;
}

.endorsements .header {
    display: none;
}

aside.endorsement {
    margin: 2em 0;
    width: 190px;
    position: absolute;
    left: 0;
}

aside a {
    color: #111;
    background-color: #fff;
}

aside cite {
    float: none;
    text-align: right;
}

aside#mole {
    top: 608px;
}

aside#wil {
    top: 1084px;
}

aside#resig {
    top: 20px;
}

aside#marshall {
    top: 368px;
}

.email b,.email i {
    font-style: normal;
    font-weight: 400;
    font-family: Georgia,serif;
}

@media print {
    #nav-wrapper,
    .language {
        display: none;
    }

    div.title-wrapper {
        float: none;
        width: 100%;
    }

    div.adr {
        text-align: left;
    }

    h1 {
        padding-left: 0;
        color: #000;
    }

    a,body {
        color: #000;
    }

    div.summary-wrapper {
        border-bottom: 1px solid #888;
        border-top: 1px solid #888;
    }

    abbr {
        border-bottom: 0;
    }

    div.content,div.header {
        float: none;
        width: 100%;
    }

    div.education-wrapper {
        page-break-before: always;
    }

    .endorsements {
        position: static;
    }

    .endorsements aside {
        position: static;
        float: left;
        margin-right: 15px;
    }

    .endorsements .header {
        display: block;
    }

    #content span.location {
        position: static;
    }

    .email i {
        display: none;
    }

    .email b:after {
        content: 'le';
    }

}

h1 {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -o-border-radius: 2px;
}

.zh {
    font-family: QXyingbikai46763 !important;
    letter-spacing: 13px;
}

.vevent dt {
    margin: .6em auto;
    padding-left: 1em;
    border-left: 3px solid #6bacbf;
    font-weight: bold;
}

.vevent strong {
    font-size: 1.2em;
}

.output {
    margin: .5em 0 1em;
    color: #555;
}

#content span.location,
.compatbility {
    float: right;
    font-style: italic;
    font-size: .89em;
    color: #bbb;
    font-weight: normal;
}

.masthead {
    margin-bottom: 10em;
}

.wrap {
    border-top: 1px solid black;
    margin-top: 5em;
}
.wrap .header {
    border-top: 5px solid #6bacbf;
    padding-top: 20px;
    font-family: StandardCTCondensed-Medium;
    font-size: 1.7em;
}
.vevent {
    border-top: 1px solid #DDD;
    padding-bottom: 2em;
    padding-top: 2em;
}
.vevent:last-child {
    padding-bottom: 0;
}
.vevent dd,
.output {
    padding-bottom: 1em;
}
a.project {
    border-bottom: 2px solid #6bacbf;
}
